@media screen and (max-width:800px) {
    .nav-main{
        flex-direction: column;
        align-items: center;
    }
    .nav-btn-container{
        margin-top: 20px;
    }
}
@media screen and (max-width:500px) {
    .nav-humburger{
        display:block;
    }
    .nav-btn-container{
        display:none;
    }
    .nav-main{
        flex-direction: row;
    }
}